<html>
    <head>
        <title>Param's Blog for day to day power facilities</title>
    </head>
	<body>
		<h1>Following are the options:</h1>
	
		<h2>1.Sukam Micron</h2>
	
		<p>Su-Kam’s Micron Digital UPS meets your budget and your needs in a special way.
		It is designed for homes and business establishments where the day-to-day requirement
		does not exceed a few light bulbs, fans or a favourite TV show. Micron is an advanced
		Digital UPS made for running regular household appliances such as CFL bulbs, fans, 
		laptops and television sets. This portable powerhouse comes in two different capacities
		i.e. 150 VA UPS with 25AH Macroz Tubular Battery & 250 VA UPS with 50AH Macroz Tubular
		Battery along with a long warranty period. So add Micron Digital UPS to your life today
		and enjoy a fruitful partnership.
		</p>
		<h2>2.Sukam Pico</h2>
		<p>Su-Kam’s Pico UPS meets your budget and your needs in a special way. It is designed
		for homes and business establishments where the day-to-day requirement does not exceed
		a few light bulbs, fans or a favourite TV show. Micron is an advanced Digital UPS made
		for running regular household appliances such as CFL bulbs, fans, laptops and television
		sets. This portable powerhouse comes in two different capacities i.e. 150 VA UPS with
		25AH Macroz Tubular Battery & 250 VA UPS with 50AH Macroz Tubular Battery along with a
		long warranty period. So add Micron Digital UPS to your life today and enjoy a fruitful
		partnership.
		</p>
		<p><strong>The research is on....MORE OPTIONS TO COME SOON...PLZ STAY TUNED FRIENDS.</STRONG>
		</p>

   </body>
</html>